modules = ["python-3.12", "nodejs-20"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd apis/sync_management && python sync-management-api.py & cd ui && node server.js"]

[workflows]
runButton = "Start Services"

[[workflows.workflow]]
name = "Start Services"
author = 22906253

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apis/sync_management && python sync-management-api.py & cd /home/runner/workspace/ui && node server.js"

[[ports]]
localPort = 3000
externalPort = 80
